* {
    box-sizing: border-box;
  }
  html {
      overflow-x: hidden;
  }
  
  body {
    background-color: #111;
  }

  .title-content{
      padding-top: 10vh;
      width: 100vw;
      text-align: center;
      color: white;
      font-size: 2rem;
  }

  .title-content h3{
      padding-left: 25px;
  }

.tree-wrapper{
  width: 100%;
  text-align: center;
}

.rae-click:hover{
  color: green;
  cursor: pointer;
}

.has-clicked{
  display: none;
}

.jungkook-wrapper{
  width: 100%;
  display: none;
}

.jungkook-wrapper img{
  width: 100%;
}
